@page "/"
@using Microsoft.EntityFrameworkCore
@model Chirp.Web.Pages.PublicModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="CheepMessageField">
            <h3>Hello, @(User.Identity!.Name)! What do you want to share today?</h3>
            <form method="post">
                <input type="text" asp-for="Message" placeholder="Write your cheep..." />
                <button type="submit">Post</button>
            </form>
        </div>
    }
    else
    {
        <p>Please <a href="/Identity/Account/Login">log in</a> to post a cheep.</p>
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>